:root {
  --background-color: white;
  /* Pokedex */
  --pokedex-base-color: #bd0f34;
  --pokedex-line-color: #810a1e;
  --screen-background-color: #dedede;
  --screen-color: #f1f2d3;
  --screen-border-color: #6a6a72;
  /* Lights */
  --blue-light: #009dd4;
  --blue-light-border: #fbfbfb;
  --blue-light-reflex-1: #0aceff;
  --blue-light-reflex-2: #9ce8ff;
  --red-light: #9a0405;
  --red-light-border: #ef0707;
  --red-light-reflex: #d54441;
  --red-light-reflex-boder: #ec4040;
  --yellow-light: #7f8311;
  --yellow-light-border: #e5e718;
  --yellow-light-reflex: #c8c72b;
}

body {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  width: 100vw;
}

/* Search */
.search-container {
  padding-top: 3rem;
  display: flex;
  display: inline-flex;
}

#pokedex {
  border-radius: 10px;
  display: flex;
  height: 684px;
  padding-top: 2rem;
  width: calc(456px * 2);
}

/* Base */
.pokedex-base {
  background-color: var(--pokedex-base-color);
  box-sizing: border-box;
  display: grid;
  height: 100%;
  border: solid var(--pokedex-line-color) 3px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 7px;
  width: 50%;
}

.base-top-line {
  fill: none;
  stroke: var(--pokedex-line-color);
  stroke-width: 3;
}

/* Screen */
.screen-container {
  position: absolute;
  transform: translate(5%, 50%)
}

.screen {
  width: 300px;
  height: 200px;
  border: solid var(--screen-border-color) 1px;
  border-radius: 3% 3% 3% 3%;
  display: grid;
  background-color: var(--screen-color);
  transform: translate(13%, 13%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.screen-border {
  width: 390px;
  height: 280px;
  border: solid var(--screen-border-color) 5px;
  border-radius: 3% 3% 3% 20%;
  display: grid;
  background-color: var(--screen-background-color);
}

/* Cover */
.pokedex-cover {
  box-sizing: border-box;
  background-color: var(--pokedex-base-color);
  border-bottom: solid var(--pokedex-line-color) 3px;
  position: relative;
  height: 100%;
  width: 50%;
  display: grid;
  border-bottom-right-radius: 10px;
}

.pokedex-cover::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 82%;
  border-right: solid var(--pokedex-line-color) 3px;
  border-bottom-right-radius: 7px;
}

.cover-top-empty {
  fill: var(--background-color);
  stroke: none;
  stroke-width: 3;
}

.cover-top-line {
  fill: none;
  stroke: var(--pokedex-line-color);
  stroke-width: 3;
}

/* Lights */
.light-container {
  position: absolute;
  transform: translate(15%, 5%);
}

.blue-light-border {
  background-color: var(--blue-light-border);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 100%;
}

.blue-light {
  background-color: var(--blue-light);
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 100%;
  transform: translate(20%, 10%);
}

.blue-light-reflex-1 {
  background-color: var(--blue-light-reflex-1);
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 100%;
  transform: translate(12%, 1%);
}

.blue-light-reflex-2 {
  background-color: var(--blue-light-reflex-2);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  transform: translate(85%, 30%);
}

.red-light-border {
  background-color: var(--red-light-border);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  transform: translate(470%, -380%);
}

.red-light {
  background-color: var(--red-light);
  width: 1.55rem;
  height: 1.55rem;
  border-radius: 100%;
  transform: translate(13%, 16%);
}

.red-light-reflex-1 {
  background-color: var(--red-light-border);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transform: translate(12%, 1%);
}

.red-light-reflex-2 {
  background-color: var(--red-light-reflex);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transform: translate(30%, 10%);
  border: solid var(--red-light-reflex-boder);
}

.little-light-container {
  position: absolute;
  transform: translate(-20%, 450%);
}

.yellow-light-border {
  background-color: var(--yellow-light-border);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  transform: translate(470%, -380%);
}

.yellow-light {
  background-color: var(--yellow-light);
  width: 1.55rem;
  height: 1.55rem;
  border-radius: 100%;
  transform: translate(13%, 16%);
}

.yellow-light-reflex-1 {
  background-color: var(--yellow-light-border);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transform: translate(12%, 1%);
}

.yellow-light-reflex-2 {
  background-color: var(--yellow-light-reflex);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100%;
  transform: translate(50%, 25%);
}